<?xml version="1.0"?>
<config>
    <modules>
        <Ryaan_MembersOnly>
            <version>0.1.0</version>
        </Ryaan_MembersOnly>
    </modules>
    <global>
        <helpers>
            <membersonly>
                <class>Ryaan_MembersOnly_Helper</class>
            </membersonly>
        </helpers>
        <models>
            <membersonly>
                <class>Ryaan_MembersOnly_Model</class>
            </membersonly>
        </models>
        <resources>
            <membersonly_setup>
                <setup>
                    <module>Ryaan_MembersOnly</module>
                    <class>Mage_Customer_Model_Resource_Setup</class>
                </setup>
            </membersonly_setup>
        </resources>
    </global>
    <frontend>
        <translate>
            <modules>
                <membersonly>
                    <files>
                        <default>Ryaan_MembersOnly.csv</default>
                    </files>
                </membersonly>
            </modules>
        </translate>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <override_price_template>
                        <type>model</type>
                        <class>membersonly/observer</class>
                        <method>overridePriceTemplate</method>
                    </override_price_template>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
    </frontend>
</config>
