<?xml version="1.0"?>
<config>
    <modules>
        <Ryaan_MembersOnly>
            <version>0.1.0</version>
        </Ryaan_MembersOnly>
    </modules>
    <global>
        <helpers>
            <membersonly>
                <class>Ryaan_MembersOnly_Helper</class>
            </membersonly>
        </helpers>
        <models>
            <membersonly>
                <class>Ryaan_MembersOnly_Model</class>
            </membersonly>
        </models>
        <blocks>
            <membersonly>
                <class>Ryaan_MembersOnly_Block</class>
            </membersonly>
            <bundle>
                <rewrite>
                    <catalog_product_price>Ryaan_MembersOnly_Block_Price_Default</catalog_product_price>
                    <catalog_product_view_type_bundle_option_checkbox>Ryaan_MembersOnly_Block_Price_Bundle_Option_Checkbox</catalog_product_view_type_bundle_option_checkbox>
                    <catalog_product_view_type_bundle_option_radio>Ryaan_MembersOnly_Block_Price_Bundle_Option_Radio</catalog_product_view_type_bundle_option_radio>
                    <catalog_product_view_type_bundle_option_select>Ryaan_MembersOnly_Block_Price_Bundle_Option_Select</catalog_product_view_type_bundle_option_select>
                </rewrite>
            </bundle>
            <catalog>
                <rewrite>
                    <product_view>Ryaan_MembersOnly_Block_Price_Clone</product_view>
                    <product_price>Ryaan_MembersOnly_Block_Price_Default</product_price>
                </rewrite>
            </catalog>
        </blocks>
        <resources>
            <membersonly_setup>
                <setup>
                    <module>Ryaan_MembersOnly</module>
                    <class>Mage_Customer_Model_Resource_Setup</class>
                </setup>
            </membersonly_setup>
        </resources>
    </global>
    <frontend>
        <translate>
            <modules>
                <membersonly>
                    <files>
                        <default>Ryaan_MembersOnly.csv</default>
                    </files>
                </membersonly>
            </modules>
        </translate>
        <events>
            <customer_login>
                <observers>
                    <redirect_login_not_approved>
                        <type>model</type>
                        <class>membersonly/login_observer</class>
                        <method>redirectLoginNotApproved</method>
                    </redirect_login_not_approved>
                </observers>
            </customer_login>
        </events>
    </frontend>
</config>
